@font-face {
  font-family: norsebold;
  src: url(./font/Norse-Bold.otf);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

:root {
  --form-bg-color: #fafafa;
  --font-size-medium: 1.25rem;
  --font-weight: 400;
  --font-color: #fff;
  --font-family: norsebold;
  --light-grey: #d3d3d3;
  --oliver-color: #596d48;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  position: relative;
  width: 72vw;
}

.image-wrapper {
  width: 600px;
}

#background-image {
  width: 100%;
}

.logo-banner {
  background-color: #1a1a1a;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0.75;
  position: absolute;
  top: 210px;
  width: 600px;
}

#logo-banner-header {
  color: var(--font-color);
  font-size: 6rem;
  font-weight: 800;
  font-family: norsebold;
}

.logo-banner > img {
  height: 120px;
  width: 100px;
}

#photo-credit {
  color: var(--font-color);
  font-weight: 100;
  font-size: 1rem;
  margin-top: -40px;
  text-align: center;
}

#photo-credit > span {
  text-decoration: underline;
}

.form-section {
  background-color: #fff;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  left: 600px;
  position: absolute;
  top: 0;
  width: 790px;
}

.form-text {
  background-color: var(--form-bg-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  height: 200px;
  padding: 120px 80px 40px 30px;
  width: 680px;
}

#sign-up {
  display: flex;
}
#sign-up > span {
  margin: 0 8px;
  font-style: italic;
}

form {
  /* box-shadow: 0 10px 10px var(--light-grey); */
  font-size: 14px;
  height: 300px;
  padding: 0 30px;
  width: 730px;
}

#second-header {
  font-size: 1.5rem;
  font-weight: var(--font-weight);
  padding: 20px 0;
}

.left {
  display: flex;
  flex-wrap: wrap;
  width: 32%;
}

.right-container {
  left: 400px;
  position: absolute;
  top: 430px;
  width: 30%;
}

#psw-error-message {
  color: red;
  font-size: 14px;
  margin: -20px 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  border-radius: 4px;
  border: 1px solid var(--light-grey);
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 6px 10px;
  outline: none;
  width: 100%;
}

input[type="password"]:invalid {
  outline: 1px solid red;
  border: none;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 0 4px 4px var(--light-grey);
}

.cta-content {
  background-color: var(--form-bg-color);
  height: 170px;
  margin: 14px 100px 0 -30px;
  padding: 40px 30px;
  width: 730px;
}

.cta-content > div {
  margin: 40px 0;
  font-size: var(--font-size-medium);
}

.cta-content > div > span {
  color: var(--oliver-color);
  font-weight: var(--font-weight);
}

button {
  background-color: var(--oliver-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 6px 8px var(--light-grey);
  color: var(--font-color);
  cursor: pointer;
  font-weight: var(--font-weight);
  padding: 20px 50px;
}
